In [81]:
%config IPCompleter.greedy=True #Helps with auto-complete

import numpy as np
import pandas as pd

data = pd.read_csv('data/grades_raw.csv')

In [82]:
print(data[:5])

  school sex  age address famsize Pstatus  Medu  Fedu     Mjob      Fjob  ...  \
0     GP   F   18       U     GT3       A     4     4  at_home   teacher  ...
1     GP   F   17       U     GT3       T     1     1  at_home     other  ...
2     GP   F   15       U     LE3       T     1     1  at_home     other  ...
3     GP   F   15       U     GT3       T     4     2   health  services  ...
4     GP   F   16       U     GT3       T     3     3    other     other  ...

  famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0      4        3      4     1     1      3        6   5   6   6
1      5        3      3     1     1      3        4   5   5   6
2      4        3      2     2     3      3       10   7   8  10
3      3        2      2     1     1      5        2  15  14  15
4      4        3      2     1     2      5        4   6  10  10

[5 rows x 33 columns]

In [83]:
data.drop('G1', axis=1, inplace=True)
data.drop('G2', axis=1, inplace=True)
data.drop('school', axis=1, inplace=True)
data[:2]

,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G3
0,F,18,U,GT3,A,4,4,at_home,teacher,course,...,no,no,4,3,4,1,1,3,6,6
1,F,17,U,GT3,T,1,1,at_home,other,course,...,yes,no,5,3,3,1,1,3,4,6

In [84]:
data['sex'].replace({'F':0, 'M':1}, inplace=True)

In [85]:
data['address'].replace({'R':0, 'U':1}, inplace=True)

In [86]:
data['famsize'].replace({'LE3':0, 'GT3':1}, inplace=True)

In [87]:
data['Pstatus'].replace({'A':0, 'T':1}, inplace=True)

In [88]:
mjob = pd.get_dummies(data['Mjob'])
print(mjob[:2])

   at_home  health  other  services  teacher
0     True   False  False     False    False
1     True   False  False     False    False

In [89]:
#Renaming columns for clarity
mjob.columns = ['m_at_home', 'm_health', 'm_other', 'm_services', 'm_teacher']

In [90]:
data.drop(['Mjob'], axis=1, inplace=True)
data = pd.concat([data, mjob], axis=1)
print(data[:2])

   sex  age  address  famsize  Pstatus  Medu  Fedu     Fjob  reason guardian  \
0    0   18        1        1        0     4     4  teacher  course   mother
1    0   17        1        1        1     1     1    other  course   father

   ...  Dalc  Walc  health absences G3 m_at_home m_health m_other m_services  \
0  ...     1     1       3        6  6      True    False   False      False
1  ...     1     1       3        4  6      True    False   False      False

  m_teacher
0     False
1     False

[2 rows x 34 columns]

In [91]:
fjob = pd.get_dummies(data['Fjob'])
print(fjob[:2])

   at_home  health  other  services  teacher
0    False   False  False     False     True
1    False   False   True     False    False

In [92]:
fjob.columns = ['f_at_home', 'f_health', 'f_other', 'f_services', 'f_teacher']

In [93]:
data.drop(['Fjob'], axis=1, inplace=True)
data = pd.concat([data, fjob], axis=1)
print(data[:2])

   sex  age  address  famsize  Pstatus  Medu  Fedu  reason guardian  \
0    0   18        1        1        0     4     4  course   mother
1    0   17        1        1        1     1     1  course   father

   traveltime  ...  m_at_home  m_health m_other m_services m_teacher  \
0           2  ...       True     False   False      False     False
1           1  ...       True     False   False      False     False

  f_at_home f_health f_other f_services f_teacher
0     False    False   False      False      True
1     False    False    True      False     False

[2 rows x 38 columns]

In [94]:
reason = pd.get_dummies(data['reason'])
print(reason[:2])

   course   home  other  reputation
0    True  False  False       False
1    True  False  False       False

In [95]:
data.drop(['reason'], axis=1, inplace=True)
data = pd.concat([data, reason], axis=1)
print(data[:2])

   sex  age  address  famsize  Pstatus  Medu  Fedu guardian  traveltime  \
0    0   18        1        1        0     4     4   mother           2
1    0   17        1        1        1     1     1   father           1

   studytime  ...  m_teacher f_at_home f_health f_other f_services f_teacher  \
0          2  ...      False     False    False   False      False      True
1          2  ...      False     False    False    True      False     False

  course   home  other  reputation
0   True  False  False       False
1   True  False  False       False

[2 rows x 41 columns]

In [96]:
guardian = pd.get_dummies(data['guardian'])
print(guardian[:2])

   father  mother  other
0   False    True  False
1    True   False  False

In [97]:
data.drop(['guardian'], axis=1, inplace=True)
data = pd.concat([data, guardian], axis=1)
print(data[:2])

   sex  age  address  famsize  Pstatus  Medu  Fedu  traveltime  studytime  \
0    0   18        1        1        0     4     4           2          2
1    0   17        1        1        1     1     1           1          2

   failures  ... f_other f_services f_teacher course   home  other reputation  \
0         0  ...   False      False      True   True  False  False      False
1         0  ...    True      False     False   True  False  False      False

  father  mother  other
0  False    True  False
1   True   False  False

[2 rows x 43 columns]

In [98]:
data.replace({'no':0, 'yes':1}, inplace=True)

In [99]:
print(data[:2])

   sex  age  address  famsize  Pstatus  Medu  Fedu  traveltime  studytime  \
0    0   18        1        1        0     4     4           2          2
1    0   17        1        1        1     1     1           1          2

   failures  ...  f_other  f_services  f_teacher  course   home  other  \
0         0  ...    False       False       True    True  False  False
1         0  ...     True       False      False    True  False  False

   reputation  father  mother  other
0       False   False    True  False
1       False    True   False  False

[2 rows x 43 columns]

In [100]:
data.replace({'False':0, 'True':1}, inplace=True)

In [101]:
data.replace({False:0, True:1}, inplace=True)

In [102]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 43 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   sex         395 non-null    int64
 1   age         395 non-null    int64
 2   address     395 non-null    int64
 3   famsize     395 non-null    int64
 4   Pstatus     395 non-null    int64
 5   Medu        395 non-null    int64
 6   Fedu        395 non-null    int64
 7   traveltime  395 non-null    int64
 8   studytime   395 non-null    int64
 9   failures    395 non-null    int64
 10  schoolsup   395 non-null    int64
 11  famsup      395 non-null    int64
 12  paid        395 non-null    int64
 13  activities  395 non-null    int64
 14  nursery     395 non-null    int64
 15  higher      395 non-null    int64
 16  internet    395 non-null    int64
 17  romantic    395 non-null    int64
 18  famrel      395 non-null    int64
 19  freetime    395 non-null    int64
 20  goout       395 non-null    int64
 21  Dalc        395 non-null    int64
 22  Walc        395 non-null    int64
 23  health      395 non-null    int64
 24  absences    395 non-null    int64
 25  G3          395 non-null    int64
 26  m_at_home   395 non-null    int64
 27  m_health    395 non-null    int64
 28  m_other     395 non-null    int64
 29  m_services  395 non-null    int64
 30  m_teacher   395 non-null    int64
 31  f_at_home   395 non-null    int64
 32  f_health    395 non-null    int64
 33  f_other     395 non-null    int64
 34  f_services  395 non-null    int64
 35  f_teacher   395 non-null    int64
 36  course      395 non-null    int64
 37  home        395 non-null    int64
 38  other       395 non-null    int64
 39  reputation  395 non-null    int64
 40  father      395 non-null    int64
 41  mother      395 non-null    int64
 42  other       395 non-null    int64
dtypes: int64(43)
memory usage: 132.8 KB
None

In [ ]:
#Saving to csv

data.to_csv('data/grades_clean.csv', index=False)